- var activePage = 'projects';
<!DOCTYPE html>
html(lang="pl")
head
  include includes/meta
body(class=(activePage === 'projects' ? "body-gallery": ""))
  include includes/header
  main(class='site-content')
  include includes/footer