- var activePage = 'video';
<!DOCTYPE html>
html(lang="pl")
head
 include includes/meta
body(class=(activePage === 'video' ? "body-gallery": ""))
  include includes/header
  h2(class='projects-info')='Some videos about front-end development i\'ve co-created in'
    a(href="https://www.youtube.com/koduje")=' Koduje.'
  div(class='video')
    iframe(width='640' height='360' class='yt' src='https://www.youtube.com/embed/fn7IK5WUZk8' frameborder='0')
    iframe(width='640' height='360' class='yt' src='https://www.youtube.com/embed/bOEmA3B1OBE' frameborder='0')
    iframe(width='640' height='360' class='yt' src='https://www.youtube.com/embed/yMlfHgjALIs' frameborder='0')
    iframe(width='640' height='360' class='yt' src='https://www.youtube.com/embed/yTnmWXgcFi8' frameborder='0')
    iframe(width='640' height='360' class='yt' src='https://www.youtube.com/embed/2m84zSyrM7Q' frameborder='0')
    iframe(width="640" height="360" class='yt' src="https://www.youtube.com/embed/cj80ebccWBo" frameborder="0")
  include includes/footer
  script(src='js/halkaBox.min.js')
  script(src='js/index.js')