h2(class='page-info')='Some of my photography work. For more check out my'
  a(href="https://www.instagram.com/jakub_emx/")=' Instagram.'


div(class='gallery-info')
  h2(aria-label='manekiny' class="gallery-name") Mannequins
  p(class="galery-desc")
div(class='gallery-container')
  a(href='img/manekiny/1.jpg' data-hb='gallery1')
    img(src='img/manekiny/th/1.jpg')
  a(href='img/manekiny/2.jpg' data-hb='gallery1')
    img(src='img/manekiny/th/2.jpg')
  a(href='img/manekiny/3.jpg' data-hb='gallery1')
    img(src='img/manekiny/th/3.jpg')
  a(href='img/manekiny/5.jpg' data-hb='gallery1')
    img(src='img/manekiny/th/5.jpg')
  a(href='img/manekiny/7.jpg' data-hb='gallery1')
    img(src='img/manekiny/th/7.jpg')
  a(href='img/manekiny/8.jpg' data-hb='gallery1')
    img(src='img/manekiny/th/8.jpg')
  a(href='img/manekiny/9.jpg' data-hb='gallery1')
    img(src='img/manekiny/th/9.jpg')
  a(href='img/manekiny/11.jpg' data-hb='gallery1')
    img(src='img/manekiny/th/11.jpg')
  a(href='img/manekiny/12.jpg' data-hb='gallery1')
    img(src='img/manekiny/th/12.jpg')

div(class='gallery-info')
  h2(aria-label='People' class="gallery-name") People
  p(class="galery-desc")
div(class='gallery-container')
  a(href='img/ludzie/1.jpg' data-hb='gallery3')
    img(src='img/ludzie/th/1.jpg' alt="Long haired boy with bass guitar")
  a(href='img/ludzie/2.jpg' data-hb='gallery3')
    img(src='img/ludzie/th/2.jpg' alt="Blonde girl laying on the floor with a mirror in her hand")
  a(href='img/ludzie/3.jpg' data-hb='gallery3')
    img(src='img/ludzie/th/3.jpg' alt="Skeleton with pink afro posing in round sunglasses")
  a(href='img/ludzie/4.jpg' data-hb='gallery3')
    img(src='img/ludzie/th/4.jpg' alt="Blonde girl covering her face, while in basement")
  a(href='img/ludzie/5.jpg' data-hb='gallery3')
    img(src='img/ludzie/th/5.jpg' alt="Clown wearing leather jacket standing in the field")
  a(href='img/ludzie/6.jpg' data-hb='gallery3')
    img(src='img/ludzie/th/6.jpg' alt="Girl with christmas tree hair posing in Aladdin Sane t-shirt")
  a(href='img/ludzie/7.jpg' data-hb='gallery3')
    img(src='img/ludzie/th/7.jpg' alt="Old lady holding her head in traditional room")
  a(href='img/ludzie/8.jpg' data-hb='gallery3')
    img(src='img/ludzie/th/8.jpg' alt="Portrait photo of distrait young men with moustache")
  a(href='img/ludzie/9.jpg' data-hb='gallery3')
    img(src='img/ludzie/th/9.jpg' alt="Braided man with two girls, in a wooden room")
  a(href='img/ludzie/10.jpg' data-hb='gallery3')
    img(src='img/ludzie/th/10.jpg' alt="Girl in striped t-shirt on the path in the village")
  a(href='img/ludzie/12.jpg' data-hb='gallery3')
    img(src='img/ludzie/th/12.jpg' alt="Cuddling couple in dramatic light, stone wall in the background")
  a(href='img/ludzie/13.jpg' data-hb='gallery3')
    img(src='img/ludzie/th/13.jpg' alt="Couple in love, standing on the autumn leaves")

div(class='gallery-info')
  h2(aria-label='street' class="gallery-name") Street
  p(class="galery-desc")
div(class='gallery-container')
  a(href='img/strt/1.jpg' data-hb='gallery2')
    img(src='img/strt/th/1.jpg' alt="Colorful baloons in a cloudy sky, Palace of Culture and Science in the background")
  a(href='img/strt/2.jpg' data-hb='gallery2')
    img(src='img/strt/th/2.jpg' alt="Young women selling products at the end of the tunnel")
  a(href='img/strt/3.jpg' data-hb='gallery2')
    img(src='img/strt/th/3.jpg' alt="Old man in green jumper and dark jacket smoking on the street")
  a(href='img/strt/5.jpg' data-hb='gallery2')
    img(src='img/strt/th/5.jpg' alt="Achromatic depot with smudgy-blurred lady near the stairs")
  a(href='img/strt/6.jpg' data-hb='gallery2')
    img(src='img/strt/th/6.jpg' alt="People in winter clothes enjoying flea market")
  a(href='img/strt/7.jpg' data-hb='gallery2')
    img(src='img/strt/th/7.jpg' alt="Focused lady with fair, grayish hair grabbing white bag on the bazaar")
  a(href='img/strt/8.jpg' data-hb='gallery2')
    img(src='img/strt/th/8.jpg' alt="Snappy old man in round hat and dark cloak among the market stalls")
  a(href='img/strt/9.jpg' data-hb='gallery2')
    img(src='img/strt/th/9.jpg' alt="Yawning man in the hood at the Belgian mart")
  a(href='img/strt/10.jpg' data-hb='gallery2')
    img(src='img/strt/th/10.jpg' alt="Three dark characters departing from the red canopy next to the cobbled street")
  