div(class='gallery-info')
  h2(aria-label='manekiny') Mannequins
div(class='gallery-container')
  a(href='img/manekiny/1.jpg' data-hb='gallery1')
    img(src='img/manekiny/th/1.jpg')
  a(href='img/manekiny/2.jpg' data-hb='gallery1')
    img(src='img/manekiny/th/2.jpg')
  a(href='img/manekiny/3.jpg' data-hb='gallery1')
    img(src='img/manekiny/th/3.jpg')
  a(href='img/manekiny/5.jpg' data-hb='gallery1')
    img(src='img/manekiny/th/5.jpg')
  a(href='img/manekiny/7.jpg' data-hb='gallery1')
    img(src='img/manekiny/th/7.jpg')
  a(href='img/manekiny/8.jpg' data-hb='gallery1')
    img(src='img/manekiny/th/8.jpg')
  a(href='img/manekiny/9.jpg' data-hb='gallery1')
    img(src='img/manekiny/th/9.jpg')
  a(href='img/manekiny/11.jpg' data-hb='gallery1')
    img(src='img/manekiny/th/11.jpg')
  a(href='img/manekiny/12.jpg' data-hb='gallery1')
    img(src='img/manekiny/th/12.jpg')
    
div(class='gallery-info')
  h2(aria-label='street') People
div(class='gallery-container')
  a(href='img/ludzie/1.jpg' data-hb='gallery3')
    img(src='img/ludzie/th/1.jpg')
  a(href='img/ludzie/2.jpg' data-hb='gallery3')
    img(src='img/ludzie/th/2.jpg')
  a(href='img/ludzie/3.jpg' data-hb='gallery3')
    img(src='img/ludzie/th/3.jpg')
  a(href='img/ludzie/4.jpg' data-hb='gallery3')
    img(src='img/ludzie/th/4.jpg')
  a(href='img/ludzie/5.jpg' data-hb='gallery3')
    img(src='img/ludzie/th/5.jpg')
  a(href='img/ludzie/6.jpg' data-hb='gallery3')
    img(src='img/ludzie/th/6.jpg')
  a(href='img/ludzie/7.jpg' data-hb='gallery3')
    img(src='img/ludzie/th/7.jpg')
  a(href='img/ludzie/8.jpg' data-hb='gallery3')
    img(src='img/ludzie/th/8.jpg')
  a(href='img/ludzie/9.jpg' data-hb='gallery3')
    img(src='img/ludzie/th/9.jpg')
  a(href='img/ludzie/10.jpg' data-hb='gallery3')
    img(src='img/ludzie/th/10.jpg')
  a(href='img/ludzie/12.jpg' data-hb='gallery3')
    img(src='img/ludzie/th/12.jpg')
  a(href='img/ludzie/13.jpg' data-hb='gallery3')
    img(src='img/ludzie/th/13.jpg')
    
div(class='gallery-info')
  h2(aria-label='street') Street
div(class='gallery-container')
  a(href='img/strt/1.jpg' data-hb='gallery2')
    img(src='img/strt/th/1.jpg')
  a(href='img/strt/2.jpg' data-hb='gallery2')
    img(src='img/strt/th/2.jpg')
  a(href='img/strt/3.jpg' data-hb='gallery2')
    img(src='img/strt/th/3.jpg')
  a(href='img/strt/5.jpg' data-hb='gallery2')
    img(src='img/strt/th/5.jpg')
  a(href='img/strt/6.jpg' data-hb='gallery2')
    img(src='img/strt/th/6.jpg')
  a(href='img/strt/7.jpg' data-hb='gallery2')
    img(src='img/strt/th/7.jpg')
  a(href='img/strt/8.jpg' data-hb='gallery2')
    img(src='img/strt/th/8.jpg')
  a(href='img/strt/9.jpg' data-hb='gallery2')
    img(src='img/strt/th/9.jpg')
  a(href='img/strt/10.jpg' data-hb='gallery2')
    img(src='img/strt/th/10.jpg')
    