meta(charset='utf-8')
meta(name="keywords" content="photo, gallery, photography, blog, portfolio, js, css, html, keywords")
meta(name="description" content="Photography gallery & portfolio")
meta(name="author" content="Jakub Maksimowicz")
meta(name="image" content="img/strt/th/3.jpg")
meta(name="theme-color" content="#6A2CA0")
meta(property="og:title" content="JakubemFoto")
meta(property="og:type" content="gallery")
meta(property='og:description' content='Photography gallery and portfolio')
meta(property="og:image" content="img/strt/th/3.jpg")
link(href='style.bundle.css', rel='stylesheet')
link(rel='manifest', href='manifest.json')
link(rel="icon" href="img/favicon.ico" type="image/x-icon")
meta(name="viewport" content="width=device-width, initial-scale=1")
title JakubemFoto
