- var activePage = 'home';
<!DOCTYPE html>
html(lang="en")
  head
    include includes/meta
  body(class=(activePage === 'home' ? "bg": ""))
    include includes/analytics
    include includes/header
    main(class='site-content')
      div(class='hero')
        h2(class='author')
          | Jakub Maksimowicz
        h3(class='items')
          a(href="/foto")
            | foto |
          a(href="/video")
            |  video |
          a(href="/projects")
            |  front  
    include includes/footer
