include includes/m-project-item.pug

- var activePage = 'projects';
<!DOCTYPE html>
html(lang="en")
  head
    include includes/meta
  body(class=(activePage === 'projects' ? "body-gallery": ""))
    include includes/analytics
    include includes/header
    h2(class='page-info')='Some of my front-end projects. For more please visit my'
        a(href="https://github.com/Jakubem")=' Github.'
    main(class='site-content')
      +m-project-item({
        pInfo: 'Nasa Asteroid Tracker',
        pDesc: 'Simple app for tracking near earth objects',
        pImageSrc: './img/assets/1.png',
        pHrefGithub: 'https://github.com/Jakubem/Nasa-asteroid-tracker',
        pHrefLive: 'http://nasa-asteroid-tracker.jakubemfoto.pl'
      })
      +m-project-item({
        pInfo: 'Gulp Dev Detup',
        pDesc: 'Complete dev setup with Gulp, Sass, Pug, Babel and more',
        pImageSrc: './img/assets/4.png',
        pHrefGithub: 'https://github.com/Jakubem/gulp_example_task',
      })
      +m-project-item({
        pInfo: 'JS Lightbox Gallery',
        pDesc: 'Simple javaScript Lightbox gallery',
        pImageSrc: './img/assets/3.png',
        pHrefGithub: 'https://github.com/Jakubem/js-lightbox-gallery',
        pHrefLive: 'http://gallery.jakubemfoto.pl/'
      })
      +m-project-item({
        pInfo: 'Decision Making System',
        pDesc: 'Simple widget, that\'ll help you decide what\'s right',
        pImageSrc: './img/assets/2.png',
        pHrefGithub: 'https://github.com/Jakubem/decision_making_system',
        pHrefLive: 'http://decision-making-system.jakubemfoto.pl'
      })
      +m-project-item({
        pInfo: 'Email Sender',
        pDesc: 'PHP Email Sender with cool custom floating labels',
        pImageSrc: './img/assets/5.png',
        pHrefGithub: 'https://github.com/Jakubem/email-sender',
        pHrefLive: 'http://form.jakubemfoto.pl'
      })
      +m-project-item({
        pInfo: 'Twister Spinner',
        pDesc: 'My very first JS project - Twister Spinner with speech synthesizer.',
        pImageSrc: './img/assets/6.png',
        pHrefGithub: 'https://github.com/Jakubem/twister-spinner',
        pHrefLive: 'http://twister.jakubemfoto.pl/'
      })
    include includes/footer
