include includes/m-project-item.pug

- var activePage = 'projects';
<!DOCTYPE html>
html(lang="pl")
head
  include includes/meta
body(class=(activePage === 'projects' ? "body-gallery": ""))
  include includes/analytics
  include includes/header
  main(class='site-content')
    +m-project-item({
      pHref: '#',
      pInfo: 'foo',
      pDesc: 'bar',
      pImageSrc: './baz',
      pImageAlt: 'kurdekoniec'
    })
    a(href='https://github.com/Jakubem/gulp_example_task' class='project-wrapper')
      div(class='project-info-wrapper')
        h2(class='project-info-b')
          | Gulp Example Task
        p(class='project-desc')
          | Complete dev and prod Gulp setup with ES6 modules, linting, Babel and more.
      img(src="img/assets/4.png", class='project-img' alt="Gulp Example Task project image")
    a(href='http://gallery.jakubemfoto.pl' class='project-wrapper')
      div(class='project-info-wrapper')
        h2(class='project-info-b')
          | JS lightbox
        p(class='project-desc')
          | Simple javaScript Lightbox gallery.
      img(src="img/assets/3.png", class='project-img' alt="JS lightbox project image")
    a(href='http://decision-making-system.jakubemfoto.pl/' class='project-wrapper')
      div(class='project-info-wrapper')
        h2(class='project-info-b')
          | Decision Making System
        p(class='project-desc')
          | Simple widget, that'll help you decide what's right.
      img(src="img/assets/2.png", class='project-img' alt="Decision Making System project image")
    a(href='http://gallery.jakubemfoto.pl' class='project-wrapper')
      div(class='project-info-wrapper')
        h2(class='project-info-b')
          | Email Sender
        p(class='project-desc')
          | PHP Email Sender with cool custom floating labels.
      img(src="img/assets/5.png", class='project-img' alt="Email Sender project image")
    a(href='http://twister.jakubemfoto.pl/' class='project-wrapper')
      div(class='project-info-wrapper')
        h2(class='project-info-b')
          | Twister Spinner
        p(class='project-desc')
          | My very first JS project - Twister Spinner with speech synthesizer.
      img(src="img/assets/6.png", class='project-img' alt="Twister Spinner project image")
  include includes/footer
