include includes/m-project-item.pug

- var activePage = 'projects';
<!DOCTYPE html>
html(lang="pl")
head
  include includes/meta
body(class=(activePage === 'projects' ? "body-gallery": ""))
  include includes/analytics
  include includes/header
  main(class='site-content')
    +m-project-item({
      pInfo: 'Nasa Asteroid Tracker',
      pDesc: 'Simple app for tracking near earth objects',
      pImageSrc: './img/assets/1.png',
      pImageAlt: 'Nasa Asteroid Tracker project thumbnail',
      pHrefGithub: 'https://github.com/Jakubem/Nasa-asteroid-tracker',
      pHrefLive: 'http://nasa-asteroid-tracker.jakubemfoto.pl'
    })
    +m-project-item({
      pInfo: 'Gulp dev setup',
      pDesc: 'Complete dev setup with Gulp, Sass, Pug, Babel and more',
      pImageSrc: './img/assets/4.png',
      pImageAlt: 'Gulp dev setup project thumbnail',
      pHrefGithub: 'https://github.com/Jakubem/gulp_example_task',
    })
    +m-project-item({
      pInfo: 'JS Lightbox gallery',
      pDesc: 'Simple javaScript Lightbox gallery',
      pImageSrc: './img/assets/3.png',
      pImageAlt: 'JS Lightbox gallery project thumbnail',
      pHrefGithub: 'https://github.com/Jakubem/js-lightbox-gallery',
      pHrefLive: 'http://gallery.jakubemfoto.pl/'
    })
    +m-project-item({
      pInfo: 'Decision Making System',
      pDesc: 'Simple widget, that\'ll help you decide what\'s right',
      pImageSrc: './img/assets/2.png',
      pImageAlt: 'Decision Making System project thumbnail',
      pHrefGithub: 'https://github.com/Jakubem/decision_making_system',
      pHrefLive: 'http://decision-making-system.jakubemfoto.pl'
    })
    +m-project-item({
      pInfo: 'Email sender',
      pDesc: 'PHP Email Sender with cool custom floating labels',
      pImageSrc: './img/assets/5.png',
      pImageAlt: 'Email sender project thumbnail',
      pHrefGithub: 'https://github.com/Jakubem/email-sender',
      pHrefLive: 'http://form.jakubemfoto.pl'
    })
    +m-project-item({
      pInfo: 'Twister Spinner',
      pDesc: 'My very first JS project - Twister Spinner with speech synthesizer.',
      pImageSrc: './img/assets/6.png',
      pImageAlt: 'Twister Spinner project thumbnail',
      pHrefGithub: 'https://github.com/Jakubem/twister-spinner',
      pHrefLive: 'http://twister.jakubemfoto.pl/'
    })
  include includes/footer
