.project-wrapper {
    background: #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 640px;
    padding: 10px;
    text-decoration: none;
  }

  .project-info-wrapper {
    width: 100%;
  }
  .project-img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;  
  }
  .project-a {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .project-info {
    font-size: 25px;
    padding: 0;
    margin-bottom: 30px;
    font-family: 'montserrat', 'arial';
    color: #e5e5e5;
    text-align: left;
  }
  .project-info-b{
    font-size: 30px;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    font-family: 'montserrat', 'arial';
    color: rgb(80, 80, 80);
    text-align: left;
  }
  .project-desc {
    font-size: 18px;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    font-family: 'montserrat', 'arial';
    color: rgb(80, 80, 80);
    text-align: left;
  }
  .project-info a{
    color: rgba(182, 183, 255, 0.6);
    text-decoration: none;
    margin: 0;
    padding: 0;
  }