$c-bg: #382778;
$c-purple: #6a2ca0;
$c-gradient: linear-gradient(190deg, $c-bg, $c-purple);
$c-red: #ff3b3b;
$c-red-hover: #ff7171;
$c-blue: #3a63bd;
$c-green: #24d848;
$c-gray: #e5e5e5;
$c-white: #f9f9f9;
$c-dark-gray: #454545;
$c-black: #12121a;
$font-family: 'montserrat', 'arial';
$text-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.3);