@import 'halkabox';
@import 'variables';
@import 'gallery';
@import 'global';
@import 'projects';

.body-gallery {
  background: $c-gradient;
}

.site-content {
  flex: 1;
}

.hero {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: $text-shadow;
}

.hero .author {
  font-family: 'montserrat', 'arial';
  color: #ff3b3b;
  opacity: 0.9;
  font-size: 70px;
  border: 3px solid #ff3b3b;
  padding: 5px 20px;
  margin: 0;
  margin-bottom: 10px;
}

.hero .items {
  margin: 0;
}

.hero .items a {
  font-family: 'montserrat', 'arial';
  color: $c-white;
  opacity: 0.98;
  font-size: 50px;
  margin: 0;
  text-decoration: none;
}

header {
  background: $c-black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 5px 45px #2a2053;
  margin-bottom: 40px;
}

.home {
  margin-bottom: 0;
}

.logo {
  margin: 0;
  padding: 0;
  font-family: 'montserrat', 'arial';
  font-size: 40px;
  display: flex;
  color: $c-white;
}

.menu-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.menu-list a {
  padding: 5px;
  margin: 15px;
  font-family: 'montserrat', 'helvetica', 'arial';
  font-size: 20px;
  text-decoration: none;
  color: $c-white;
  border-bottom: 2px solid transparent;
}

.menu-list a:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.menu-list .active {
  color: $c-red;
}

.btn {
  background: 0;
  border: 0;
  margin: 0;
  padding: 0;
  display: none;
}

.hmb {
  display: none;
  margin: 0;
  padding: 0;
}

.photo-h2 {
  font-size: 20px;
  font-family: 'verdana', 'arial';
  color: #ff00eb;
  margin-left: 20px;
}

.footer {
  background-color: $c-black;
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.sm {
  display: flex;
  align-items: center;
  margin: 5px;
  margin-bottom: 0;
  padding: 0;
}

.footer-p {
  color: $c-gray;
  font-family: 'montserrat', 'arial';
  padding-right: 15px;
}

.sm li {
  margin: 8px;
  margin-bottom: 0;
  margin-top: 0;
  text-decoration: none;
  list-style: none;
}
.sm li:hover {
  filter: drop-shadow(0 0 5px $c-white);
}

.email-adress {
  text-decoration: none;
  color: $c-red;
  margin-right: 10px;
}
.email-adress:hover {
  color: $c-red-hover;
}

.page-info {
  font-size: 26px;
  padding: 0;
  margin-bottom: 30px;
  font-family: $font-family;
  color: $c-white;
  text-align: center;
}

.page-info a{
  color: $c-red;
  text-decoration: none;
}
.page-info a:hover{
  color: $c-red-hover;
  text-decoration: none;
}

.video {
  display: flex;
  align-self: center;
  flex-direction: column;
  flex: 1;
}

.yt {
  margin-bottom: 40px;
  border-radius: 4px;
}

@import 'rwd';
