div(class='footer')
  footer
    ul(class='sm')
        li 
          a(href='https://www.instagram.com/jakub_emx/' aria-label='link do instagrama')
            include logo/inst.svg
        li 
          a(href='https://twitter.com/jakubemx' aria-label='link do twittera')
            include logo/tw.svg
        li 
          a(href='https://www.youtube.com/channel/UCGSI60FcsgvO_3IyRtuS2SQ' aria-label='link do youtube')
            include logo/yt.svg
        li 
          a(href='https://github.com/Jakubem' aria-label='link do github')
            include logo/github.svg
    p(class='footer-p') ⓒ 2018 JakubemFoto
