header(class=(activePage === 'home' ? "home": "") aria-label='menu' )
  h1(class='logo') JakubemFoto
  button(type='button' title='open menu'  class='btn' aria-label='otwórz menu')
    include logo/hmb.svg
  nav
    ul(class='menu-list')
      li 
        a(href='/' class=(activePage === 'home' ? "active": "")) home
      li 
        a(href='/foto' class=(activePage === 'foto' ? "active": "")) foto
      li 
        a(href='/video' class=(activePage === 'video' ? "active": "")) video
      li 
        a(href='/projects' class=(activePage === 'projects' ? "active": "")) projects
